.comment {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 16px;
}

.comment p {
  margin: 0;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  flex: 1;
}

.divider button {
  padding: 0.4rem 0.75rem;
}
